<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #272727;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }

        .sidebar {
            margin-left: -12px;
            width: 200px;
            background-color: #1f1f1f;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        .sidebar a {
            display: block;
            color: #ffffff;
            padding: 16px;
            text-decoration: none;
        }

        .sidebar a.active {
            background-color: #04AA6D;
            color: white;
        }

        .sidebar a:hover:not(.active) {
            background-color: #026e47;
            color: white;
        }

        div.content {
            margin-left: 200px;
            padding: 1px 16px;
            height: 1000px;
        }

        .card {
            background-color: #2b2b2b;
            color: #ffffff;
            border: none;
        }

        .btn-primary {
            background-color: #343a40;
            border-color: #343a40;
        }

        .btn-primary:hover {
            background-color: #575757;
            border-color: #575757;
        }

        table {
            background-color: #2b2b2b;
            color: #ffffff;
            width: 100%;
            margin-bottom: 1rem;
        }

        th {
            background-color: #343a40;
            color: #ffffff;
        }

        td {
            background-color: #2b2b2b;
            color: #ffffff;
        }

        table tr:hover {
            background-color: #3a3a3a;
        }

        table th,
        table td {
            border: 1px solid #444;
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #4d4d4d;
        }

        @media screen and (max-width: 700px) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

            .sidebar a {
                float: left;
            }

            div.content {
                margin-left: 0;
            }
        }

        @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <!-- The sidebar -->
        <div class="sidebar">
            <a href="/admin">Dashboard</a>
            <a href="/admin/eventManagement">Event Management</a>
            <a class="active" href="/admin/memberManagement">Member Management</a>
            <a href="/admin/userFeedbacks">User Feedbacks</a>
            <a href="/admin/logout">Logout</a>
        </div>

        <div class="content">
            <div class="container">
                <div class="input-group mt-3">
                    <a class="btn btn-primary" href="/admin/addMember">Add Member</a>
                </div>
                <h1>Active Members</h1>
                <table class="table-dark mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {{#each members}}
                        {{#if this.active}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.designation}}</td>
                            <td>
                                <a class="btn btn-primary" href="/admin/MarkAsPastMember/{{this._id}}">Mark as Past Member</a>
                                <a class="btn btn-danger" href="/admin/deleteMember/{{this._id}}">Remove this member</a>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
                <h1>Past Members</h1>
                <table class="table-dark mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {{#each members}}
                        {{#unless this.active}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.designation}}</td>
                            <td>
                                <a class="btn btn-primary" href="/admin/MarkAsPresentMember/{{this._id}}">Mark as Present Member</a>
                                <a class="btn btn-danger" href="/admin/deleteMember/{{this._id}}">Remove this member</a>
                            </td>
                        </tr>
                        {{/unless}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        
    </script>
</body>

</html>
